body {
  background-image: url(https://coding-assets.s3-us-west-2.amazonaws.com/backgrounds/library.solution.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #8edffd;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  background:rgba(70, 95, 206, 0.96);
  padding:8px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  background-color:rgba(250, 240, 0, 0.85);
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  background-color: rgba(233, 233, 233, 0.95);
  border-radius: 10px;
}

#header {
  text-align: center;
  font-size: 6em;
  margin: 2%;
}