@{
  Layout = "_Layout";
}

<h1>Library Catalog and Database</h1>

<p>@Html.ActionLink("Log in", "Login", "Account")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("View book catalog", "Index", "Books")</p>
